body{
    background-color: #E3E3E3;
}

.screen-closed{
    display: none;
    height: 0px;
}

#login-screen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-image: url("../img/blue_bg.jpg");
}

#login-title{
    color: yellow;
}

#login-title-subtitle{
    color: red;
}


#user-input{
    color: red;
}

#user-result{
    color: red;
}

#password-input{
    color: purple;
}

#password-result{
    color: purple;
}

h1{
    color: yellow;
}

h3{
    color: gray;
}


div{
    color: orange;
}

#txtHint{
    color: red;
}

#schedule-planner{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.wrapper-outer { width: 800px; }
.wrapper-inner {
  margin: 3em 0;
  direction: ltr;
  text-align: left;
  clear: both;
  position: relative;
  min-height: 1px;
  overflow: hidden;
  width: 100%;
  background-color: #EEE;
}
.wrapper-inner table { border-collapse: separate; }
.wrapper-inner td, .wrapper-inner th { padding: 0; }
#wl-columns { width: 100%; border-width: 1px;}
#wl-columns>thead>tr>th {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: bold;
  border-bottom-width: 1px;
  font-size: 11px;
}
#wl-columns>thead>tr>th:first-child,
.wl-events>table tr>th:first-child {
  width: 50px;
}
th.gutter, td.gutter { width: 19px; }
#wl-columns>thead>tr>th:nth-child(n+2):nth-last-child(n+2) { width: 116px; }
.wl-border {
  border-color: #CCC;
  border-style: solid;
  border-width: 0px;
}
td.wl-border, th.wl-border {
  border-width: 0 1px;
}
div.wl-column { position:relative; }
.wl-vspacer { height: 400px; }
.wl-event-wrapper {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 18px;
  width: 100%;
}
.wl-divider {
  margin: 0px;
  height: 2px;
  overflow: hidden;
  background-color: #EEE;
  border: 1px solid #CCC;
}
.wl-events {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  font-size: 11px;
}
.wl-event-slots { width: 100%; }

#wl-rows>table th { width: 50px; }
#wl-rows>table th, #wl-rows>table td {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  text-align: center;
  height: 50px;
}
#wl-rows>table tr:nth-child(even)>th, #wl-rows>table tr:nth-child(even)>td { border-bottom-style: solid; }
#wl-rows>table tr:nth-child(odd)>th, #wl-rows>table tr:nth-child(odd)>td { border-bottom-style: dotted; }

.wl-event {
  position: absolute;
  z-index: 8;
  width: 117px;
  border: 1px solid #025;
  background-color: #025;
  color: white;
  border-radius: 3px;
  transition: left 500ms ease;
}
.wl-event-title { color: #EEE; background-color: #369; }

/*.wl-first-term {
  border-color: #072;
  background-color: #072;
  width: 58px;
  z-index: 9;
}
.wl-first-term>.wl-event-title { background-color: #093; }
.wl-second-term {
  border-color: #E80;
  background-color: #E80;
  width: 58px;
  z-index: 9;
}
.wl-second-term>.wl-event-title { background-color: #EA0; }*/

.non-selected{
  width: 12px;
  background-color: #999;
}
.non-selected > .wl-event-title{
  display: none;
}
.non-selected > .wl-event-details{
  display: none;    
}
.same-class-selected{
  background-color: #666;
}
.scheduled{
  background-color: #072;
}
.scheduled > .wl-event-title{
  background-color: #093;
}
